* {
  box-sizing: border-box;
  background-color: white;
  font-style: normal;
  font-family: 'SF UI Text', sans-serif;
}
/* #E5E5E5 */

.container-main {
  margin-top: 7.3%;
  margin-left: 6.7%;
}

img {
  height: 30rem;
  padding-right: 0.5%;
}

h1 {
  letter-spacing: -3px;
  font-weight: 700;
  text-align: center;
  font-style: bold;
  line-height: 64px;
  background: linear-gradient(99deg, #16308B 0%, #F56BFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 6%;
  margin-bottom: 3%;
}

p {
  font-family: 'SF UI Text', sans-serif;
}

.vision-statement {
  color: white;
  font-family: 'SF UI Text', sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.btn-head-title {
  color: #9b9999;
  letter-spacing: -0.5px;
  font-weight: 500;
  padding-left: 44%;
}

.btn {
  border-radius: 0.6em;
  background-color: #0E236C;
  color: white;
  padding: 1% 4.3% 1% 4.3%;
  font-weight: 430;
  font-style: bold;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.235);
}

.btn:hover {
  background-color: #0e1d56;
  color: white;
}

.logo-font {
  margin-top: 4%;
  margin-left: 10%;
  color: #0E236C;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn-container {
  margin-left: 37%;
}
